---
layout: default
---
<div class="columns is-multiline">
    <div class="column is-6">
        <figure class="image is-4by3">
            <img src="{{ page.image }}">
        </figure>
    </div>

    <div class="column is-6">
        <p class="title is-3">{{ page.title }}</p>
        <p class="subtitle is-3">{{ page.subtitle }}</p>
        <p class="title is-4 has-text-right">{{ page.price }}</p>
        {% if page.product_code %}
            <p class="subtitle is-5 has-text-right">{{ page.product_code }}</p>
        {% endif %}

        {% if page.rating %}
            {% include rating.html rating=page.rating %}
        {% endif %}

        {% if page.features %}
            <div class="content">
                {% for feature in page.features %}
                    <p>
                        <span class="icon">
                            {% if feature.icon %}
                                <i class="fas {{ feature.icon }}"></i>
                            {% else %}
                                <i class="fas fa-circle fa-xs"></i>
                            {% endif %}
                        </span>
                        <span>{{ feature.label }}</span>
                    </p>
                {% endfor %}
            </div>
        {% endif %}

        {% if page.buttons %}
            <div class="is-flex is-justify-content-flex-end mt-4">
                <div class="buttons">
                    {% for button in page.buttons %}
                        {% if button.image %}
                            <a href="{{ button.url }}" {% if button.class %} class="{{ button.class }}" {% endif %}>
                                <img src="{{ button.image }}" alt="{{ button.text | default: 'Buy it' }}" style="max-height: 60px;">
                                <span class="is-sr-only">{{ button.text | default: 'Buy it' }}</span>
                            </a>
                        {% else %}
                            <a href="{{ button.url }}" class="button {% if button.class %} {{ button.class }} {% else %} is-primary {% endif %} is-medium">
                                {% if button.icon %}
                                    <span class="icon">
                                        <i class="fas {{ button.icon }}"></i>
                                    </span>
                                {% endif %}
                                <span>{{ button.text | default: 'Buy it' }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="column is-12">
        <p class="title is-4">Description</p>
        <div class="content">
            {{ content }}
        </div>
    </div>

    {% assign show_related_posts = page.show_related_posts | default: true %}
    {% if page.product_code and show_related_posts %}
        {% assign related_posts = site.posts | where_exp: "post", "post.hidden != true and post.tags contains page.product_code" %}
        {% if related_posts.size > 0 %}
            <div class="column is-12">
                <p class="title is-4">Related Blog Posts</p>
                <div class="columns is-multiline">
                    {% for post in related_posts %}
                        <div class="column is-12-mobile is-6-tablet is-4-desktop">
                            <div class="card" style="height: 100%; display: flex; flex-direction: column;">
                                {% if post.image %}
                                    <div class="card-image">
                                        <a href="{{ site.baseurl }}{{ post.url }}">
                                            <img src="{{ post.image }}" alt="{{ post.title }}" style="width: 100%; aspect-ratio: 16 / 9; object-fit: cover; display: block;">
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="card-content" style="display: flex; flex-direction: column; flex: 1;">
                                    <div class="content" style="flex: 1;">
                                        <a class="title is-5" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                                        <p class="is-size-7 has-text-grey mb-3">{{ post.date | date: '%b %-d, %Y' }}</p>
                                        {% if post.description %}
                                            <p>{{ post.description }}</p>
                                        {% elsif post.summary %}
                                            {{ post.summary | markdownify }}
                                        {% else %}
                                            <p>{{ post.excerpt | strip_html | truncate: 180 }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="mt-4">
                                        <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary is-small">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if site.data.reviews[page.product_code] %}
        <div class="column is-12">
            <p class="title is-4">Reviews</p>
            {% for review in site.data.reviews[page.product_code] %}
                {% include review.html %}
            {% endfor %}
        </div>
    {% endif %}
</div>
